.feature__iconWrapper .feature__icon {
  margin: 0 10px 0 0;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
  font-size: 48px;
  line-height: 41px;
}