//-
    options.title - buttons title
    options.isActive - if true, button is active
    options.isColored - if true, button is transparent
mixin btn(options)
    -
        let activeClassName = options.isActive ? "activeBtn" : "inActiveBtn";
        let colorClassName = options.isColored ? "coloredBtn" : "notColoredBtn";

    div(class ="btn "+activeClassName+" "+colorClassName)= options.title


