.likeButton__label {
  display: flex;
  flex-flow: row nowrap;
  width: 40px;
  height: 20px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.likeButton__input:checked ~.likeButton__label {
  border-color: #BC9CFF;
}