@import "__icon/__icon";
@import "__name/__name";

.feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 20px 0;
  width: 280px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}