.richCheckboxButton__caption {
  margin: 5 0 0 29.74px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: rgba(31, 32, 65, 0.5);
}