

.checkbox__checkmark {
  display: none;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 6px;
  height: 8px;
  box-sizing: border-box;

  /* Primary Gradient */
  background: #FFF;//linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: solid #BC9CFF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox input:checked ~ .checkbox__box .checkbox__checkmark {
  display: block;
}