include ./components/button/button
include ./components/logo/logo
include ./components/textField/textField
include ./components/dropdown/dropdown
include ./components/expandableCheckboxList/expandableCheckboxList
include ./components/feature/feature
include ./components/richCheckboxButton/richCheckboxButton
include ./components/radioButton/radioButton
include ./components/toggle/toggle
include ./components/likeButton/likeButton
include ./components/bulletList/bulletList

doctype html
html(lang="ru")
    head
        // ...
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title Toxin - бронирование номеров
        link(rel="stylesheet", href="./styles.scss")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        header
            +logo
            .head__menuWrapper
                a О нас
                a Услуги
                a Вакансии
                a Новости
                a Соглашения
                .head__btnWrapper
                    +btn({title: "Войти", isActive: true, isColored: false, block: "head"})
                    +btn({title: "Зарегистрироваться", isActive: true, isColored: true, block: "head"})
        .content
            .content__selectionWindow
        .navSection
            .navSection__aboutHotel
                +logo
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav(class="navSection__navigation")
                ul
                    li
                        h3 Навигация
                    li О нас
                    li Новости
                    li Служба поддержки
                    li Услуги
            nav(class="navSection__aboutUs")
                ul
                    li
                        h3 О нас
                    li О сервисе
                    li Наша команда
                    li Вакансии
                    li Инвесторы
            nav(class="navSection__support")
                ul
                    li
                        h3 Служба поддержки
                    li Соглашения
                    li Сообщества
                    li Связь с нами
            .navSection__subscription
                h3 Подписка
                p Получайте специальные предложения и новости сервиса
                //+textField({type: "email", placeHolder: "Email", button: true})

        footer
            p Copyright © 2018 Toxin отель. Все права зачищены.
            .socNetsWrapper
                img(src="/icons/logo_twitter.svg")
                img(src="/icons/logo_facebook.svg")
                img(src="/icons/logo_inst.svg")
        script(src="./js/index.js")
