include ./components/buttons/button

doctype html
html(lang="ru")
    head
        // ...
        meta(charset="utf-8")
        title Toxin - бронирование номеров
        link(rel="stylesheet", href="./scss/styles.scss")
    body
        header
            .logoWrapper
                img(src="./images/TOXIN.svg")
            .menuWrapper
                a О нас
                a Услуги
                a Вакансии
                a Новости
                a Соглашения
            .headerBtnWrapper
                +btn({title: "Войти", isActive: true, isColored: false})
                +btn({title: "Зарегистрироваться", isActive: true, isColored: true})

        .bgImageWrapper
        .content
        .navSection
            nav(class="navigation")
            nav(class="aboutUs")
            nav(class="support")
            .subscription


        footer
        script(src="./js/index.js")
