@import "components/button/button";
@import "components/checkbox/checkbox";
@import "components/expandableCheckboxList/expandableCheckboxList";
@import "components/head/head";
@import "components/logo/logo";
@import "components/navSection/navSection";
@import "components/textField/textField";
@import "components/content/content";
@import "components/feature/feature";
@import "components/richCheckboxButton/richCheckboxButton";
@import "components/radioButton/radioButton";
@import "components/toggle/toggle";
@import "components/likeButton/likeButton";
@import "components/bulletList/bulletList";

@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  src:  url('/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('/fonts/Montserrat-Regular.svg') format('svg'),
        url('/fonts/Montserrat-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('/fonts/Montserrat-Bold.ttf') format('truetype'),
  url('/fonts/Montserrat-Bold.svg') format('svg'),
  url('/fonts/Montserrat-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}

h3 {
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #1F2041;
}

html {
  box-sizing: border-box;
  max-width: 1920px;
  min-width: 1022px;
  width: 100%;
}

body {
  display: block;
  flex-flow: column nowrap;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}







.content {
  display: flex;
  height: 830px;
  background-image: url("/images/image3.png");
}



.bgImageWrapper {
  width: 100%;
  height: 100%;

  background: url(/images/image3.png);
}









footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //position: absolute;
  width: 100%;
  height: 70px;
  //left: 0px;
  //bottom: 0px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

footer p{
  margin: 0px 0 0 140px;
}

.socNetsWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 140px 0 0;
  width: 112px;
}









