@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  src:  url('/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('/fonts/Montserrat-Regular.svg') format('svg'),
        url('/fonts/Montserrat-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

h3 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;

  color: #1F2041;
}

html {
  box-sizing: border-box;
  max-width: 1920px;
  min-width: 1022px;
  width: 100%;
}

body {
  display: block;
  flex-flow: column nowrap;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

header {
  //position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 0 140px 0 140px;
  //left: 0px;
  //top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 1;
}

.toxinWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
//  margin: 0 0 0 140px;
}

.logoWrapper {
  height: 40px;
  width: 40px;
  position: relative;
}

.logoWrapper img {
  position: absolute;
}

.logoWrapper #img0 {
  position: absolute;
  top: 15px;
  left: 9px;
}

.logoWrapper #img1 {
  position: absolute;
  top: 15px;
  left: 21px;
}

#toxinLettering {
  margin-left: 12px;
}

.menuWrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menuWrapper a:first-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: rgba(31, 32, 65, 0.75);
}
.menuWrapper a:nth-child(n+2) {

  margin: 0 0 0 20px;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  /* Dark 50% */

  color: rgba(31, 32, 65, 0.5);
}

.content {
  display: flex;
  height: 830px;
  background-image: url("/images/image3.png");
}

.selectionWindow {
  margin: 70px 0 0 140px;
  width: 380px;
  height: 374px;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.bgImageWrapper {
  width: 100%;
  height: 100%;

  background: url(/images/image3.png);
}

.navSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 372px;
  padding: 100px 140px;

  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.toxinLettering {
  margin: 0 20px 0 0;
  flex-basis: 260px;
}
.toxinLettering p {
  margin: 18px 0 0 0;
}

.navSection nav {
  width: max-content;
  margin: 4px 20px 0 0;
}

.navSection ul {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;

}

.navSection li {
  white-space: nowrap;
  list-style: none;
}

.navSection li:nth-child(n+2) {
  margin: 20px 0 0 0;
}

.subscription h3{
  margin: 4px 0 0 0;
}

.subscription p {
  width: 260px;
  margin: 20px 0 0 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //position: absolute;
  width: 100%;
  height: 70px;
  //left: 0px;
  //bottom: 0px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

footer p{
  margin: 0px 0 0 140px;
}

.socNetsWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 140px 0 0;
  width: 112px;
}

.headerBtnWrapper {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 0 20px;
}

.headerBtnWrapper .btn {
  padding: 10px 20px;
}

.headerBtnWrapper .notColoredBtn {
  margin-right: 20px;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 22px;
  padding: 15px 20px;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.coloredBtn {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #FFFFFF;
}

.notColoredBtn {
  box-sizing: border-box;
  border: 2px solid #BC9CFF;
  background: #FFF;
  color: #BC9CFF;;
}

input {
  width: 320px;
  height: 44px;

  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

}

.navSection input {
  margin: 20px 0 0 0;
}
