.checkbox__box {
  position: relative;
  align-items: center;
  width: 20px;
  height: 20px;

  background: #FFFFFF;
  /* Primary Color */

  border: 1px solid #BC9CFF;
  box-sizing: border-box;
  border-radius: 4px;
}